<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alert Table</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/logo/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/logo/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/logo/favicon-16x16.png">
  <link rel="manifest" href="/logo/site.webmanifest">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment" type="module"></script>
  <link rel="stylesheet" href="/CSS/alert.css">
</head>
<body>

<h1>Alert Table</h1>
<div class="Alert-table">
  <button class="heading-1">Alert Table</button>
  <div id="select-3-container">
    <select name="all-devices-selecter" id="select-3">
      <option value="Active" selected="selected">Active</option>
      <option value="Solved">Solved</option>
      <option value="Critical">Critical</option>
      <option value="Warning">Warning</option>
      <option value="Active & Critical">Active & Critical</option>
      <option value="Active & Warning">Active & Warning</option>
      <option value="Solved & Critical">Solved & Critical</option>
      <option value="Solved & Warning">Solved & Warning</option>
      <option value="All" >All</option>
    </select>
  </div>
  <div class="tableFixHead">
    <table class="table1" >
      <thead>
      <tr class="thead-tr">
        <th>AlertID</th>
        <th>DeviceID</th>
        <th>Message</th>
        <th>Status</th>
        <th>Review Status</th>
      </tr>
      </thead>
      <tbody >

      </tbody>
    </table>
  </div>
</div>
  <canvas id="barChartCanvas"></canvas>
</div>

<script src="/JS/alert.js"></script>

</body>

</html>
