<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Health</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/logo/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/logo/favicon-16x16.png">
    <link rel="manifest" href="/logo/site.webmanifest">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment" type="module"></script>
    <link rel="stylesheet" href="/CSS/style.css" />
 
</head>

<body>
<div class="block-4 set4">
    <button class="heading-1 heading-2">Health Monitor</button>
    <div class="block-41">
        <div class="packetLoss B4B">
            <button class="heading-1" id="packetBtn">Packet Loss Rate</button>
            <div id="select-4-container">
                <select name="all-devices-selecter" id="select-4" >

                </select>
            </div>
            <canvas class="B4" id="lineChart-1" width="800" height="400"></canvas>
        </div>
        <div class="throughput B4B">
            <button class="heading-1" id="throughputBtn">Throughput</button>
            <div id="select-5-container">
                <select name="all-devices-selecter" id="select-5" >

                </select>
            </div>
            <canvas class="B4" id="lineChart-2" width="800" height="400"></canvas>
        </div>
    </div>
    <div class="block-42">
        <div class="latency B4B">
            <button class="heading-1" id="latencyBtn">Latency</button>
            <div id="select-6-container">
                <select name="all-devices-selecter" id="select-6">

                </select>
            </div>
            <canvas class="B4" id="scatterPlot" width="750" height="400"></canvas>
        </div>
        <div class="uptime B4B">
            <button class="heading-1" id="uptimeBtn">Uptime</button>
            <div id="select-7-container">
                <select name="all-devices-selecter" id="select-7">

                </select>
            </div>
            <canvas class="B4" id="bar2Chart" width="750" height="400"></canvas>
        </div>
    </div>
</div>

<script src="/JS/health.js"></script>

</body>

</html>