<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Latency</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/logo/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/logo/favicon-16x16.png">
    <link rel="manifest" href="/logo/site.webmanifest">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment" type="module"></script>
    <link rel="stylesheet" href="/CSS/latency.css">
</head>

<body>

<h1>Latency</h1>

<div class="latency B4B">
    <button class="heading-1">Latency</button>
    <div id="select-6-container">
        <select name="all-devices-selecter" id="select-6">

        </select>
    </div>
    <canvas class="B4" id="scatterPlot" width="750" height="400"></canvas>
</div>
<script src="/JS/latency.js"></script>
</body>
</html>