* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 1% 7% 1% 7%;
    text-align: center;
    height: 90%;
}

h1 {
    padding-bottom: 1rem;
}

#select-6-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 7px 7px 0 0;
    z-index: 2;
}

.heading-1 {
    font-size: small;
    font-weight: 150;
    color: #fff;
    border: 0;
    background-color: rgb(4, 160, 219);
    padding: 0.5rem 0.9rem 0.5rem 0.9rem;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
    z-index: 2;
}

.latency {
    position: relative;
    background-color: rgba(242, 243, 243, 255);
    border: 1.5px solid rgb(158, 158, 158);
    border-radius: 0.5rem;
    padding-top: 35px;
    max-width: 100%;
    margin: 0 auto;
}
